body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

#app {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

select {
    padding: 10px;
    font-size: 16px;
}


.hidden {
    display: none;
}

#loading-screen {
    text-align: center;
    padding: 20px;
}

#loading-bar {
    width: 0;
    height: 20px;
    background-color: #aaa;
    transition: width 2s ease-in-out;
}

/* Animation keyframes for loading bar */
@keyframes loading {
    0% { width: 0; }
    100% { width: 100%; }
}

/* Apply  animation to  loading bar */
#loading-bar.animated {
    animation: loading 5s infinite;
}
